<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
	
	<title>Perfil</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/style_perfil.css' %}" type="text/css" media="all">
<body>

<div class="preloader-outer" style="display: none;">
	<div class="preloader">
		<div class="lines">
			<div class="line line-1"></div>
			<div class="line line-2"></div>
			<div class="line line-3"></div>
		</div>

		<div class="loading-text">- Aguarde! -</div>
	</div>
</div>


<main class="wrapper">
		
	<header class="header pull-left">

		<div class="avatar">
			<img src="{% static 'img/me.png' %}" alt="avatar">
		</div>

		<div class="name">
			<h1>Daniel Albuquerque</h1>
			<span>Desenvolvedor Web</span>
		</div>

		<div class="social-icons">
			<ul>
				<li><a href="https://www.linkedin.com/in/daniel-albuquerque-carvalho"><img src="https://img.icons8.com/android/24/000000/linkedin.png"/></a></li>
				<li><a href="https://github.com/daniel-root"><img src="https://img.icons8.com/material-rounded/24/000000/github.png"/></a></li>
				<li><a href="https://www.instagram.com/daniel.albcar/"><img src="https://img.icons8.com/material/24/000000/instagram-new.png"/></a></li>
			</ul>
		</div>
		<nav class="main-nav">
			<ul class="navigation">
				
				<li class="current"><a href="#about">About Me</a></li>
				<li><a href="#experience">Expereince</a></li>
				<li><a href="#education">Education</a></li>
			</ul>
		</nav>

	</header>

	<div class="main-content pull-right">
		<section id="about" class="about">

			<div class="section-header">
				<h2>About Me</h2>
			</div>
			<div class="intro">
				
				<p>I'm curious programmer, with more of 1 year in experience web development using Python and Django in the Back-End, and interation with Front-End with HTML, CSS and JavaScript. Using the practices good Agile Methodology and Codification.</p>

				<ul class="info">
					<li><strong>Location:</strong> Fortaleza, Ceará</li>
					<li><strong>Email:</strong> daniel.albuquerque@mail.com</li>
					<li><strong>Phone:</strong> +55 9 9647 6068</li>
				</ul>

			</div>
			<div class="skills">

				<div class="row">

					<div class="col-md-6 col-sm-6 col-xs-12 item">
						<div class="skill-info clearfix">
							<h3 class="pull-left">Python</h3>
							<span class="pull-right">85%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 item">
						<div class="skill-info clearfix">
							<h3 class="pull-left">Django</h3>
							<span class="pull-right">80%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 item">
						<div class="skill-info clearfix">
							<h3 class="pull-left">UI/UX Design</h3>
							<span class="pull-right">80%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 item">
						<div class="skill-info clearfix">
							<h3 class="pull-left">Figma</h3>
							<span class="pull-right">60%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 item">
						<div class="skill-info clearfix">
							<h3 class="pull-left">Github</h3>
							<span class="pull-right">70%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 item">
						<div class="skill-info clearfix">
							<h3 class="pull-left">JavaScript, CSS and HTML</h3>
							<span class="pull-right">60%</span>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
							</div>
						</div>
					</div>

				</div>

			</div>

		</section>

		<section id="experience" class="resume">
			
			<div class="section-header">
				<h2>EXPERIENCE</h2>
				
			</div>

			<div class="row">

				
				
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="top-item resume-item">
								<h2>AIESEC BRAZIL</h2>
								<span>COSTOMER EXPERIENCE  |  FEBRUARY, 2021 - PRESENT</span>
								<p>AIESEC is a non-governmental, and not-for-profit organization entirely run by youth for youth.</p>
							</div>
						</div>
						
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="resume-item">
								<h2>ASSESSORIZE EDUCATION</h2>
								<span>FREELANCE |  JANUARY, 2020 - FEBRUARY , 2020</span>
								<p>Creation of web system for Accessorize, company which provides advisory andconsultancy services.</p>
							</div>
						</div>

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="resume-item">
								<h2>NUPREDS</h2>
								<span>DEVELOPER  |  NOVEMBER, 2019 - DECEMBER, 2020 </span>
								<p>Accomplished in the Nucleus of Professional Practices in Software Engineering andDevelopment (NUPREDS), the Equipments Control (CONEQUI), is a loan and devolution systemof equipment to IFCE (Federal Institute of Education, Science and Technology of Ceará), Tianguácampus, Ceará, Brazil.</p>
							</div>
						</div>
	
			</div>

		</section>
		<section id="education" class="resume">
			
			<div class="section-header">
				<h2>Education</h2>
				
			</div>

			<div class="row">

			
				
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="top-item resume-item">
								<h2>Computer Science</h2>
								<span>MAY, 2017 - PRESENT</span>
								<p>IFCE Federal Institute of Education Science and Technology of Ceará.</p>
							</div>
						</div>
						
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="resume-item">
								<h2>Accountant</h2>
								<span>JANUARY, 2014 - DECEMBER, 2016</span>
								<p>State School of Vocational Teacher Juca Fontenelle.</p>
							</div>
						</div>
						

			</div>

		</section>
	</div>

</main>
<div style="position: absolute; z-index: -10000; top: 0px; left: 0px; right: 0px; height: 1820px;"></div>

	<script type="text/javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.onepage-scroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.filterizr.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/smoothscroll.min.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
<css-paint-polyfill style="display: none !important;"><iframe style="position: absolute; left: 0px; top: -999px; width: 1px; height: 1px;"></iframe><style id="css-paint-polyfill"></style></css-paint-polyfill>
<loom-container id="lo-engage-ext-container"><div></div><loom-shadow classname="resolved"></loom-shadow></loom-container>

</html>